/*.Side_Tab{
    padding: 10px;
}*/

.Side_Tab{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    margin-top: 80px;
    margin-left: 30px;
    height: auto;
}

ul.nav_con {
    align-self: flex-start;
    background-color: rgb(242, 150, 97);
    min-width:150px;
    width: 150px;
    height: 200px;
    border: 2px solid rgb(242, 150, 97);
    padding: 10px;
    position: sticky;
    top: 10px;
    border-radius: 50px 50px 50px 50px;
    font-family: sans-serif;
}

ul.nav_con li{
    position: relative;
    color: snow;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul.nav_con li:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 10px;
    bottom: 0;
    left: 0;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;

}

ul.nav_con li:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


