/* The Top Container */
.nav_container {
	position: fixed;

	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 0 40px;
	width: calc(100% - 80px);
	height: 80px;

	background-color: rgb(242, 150, 97);
	transition: 500ms;

	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

/* StudyWithUs Title */
.nav_container>.nav_title {
	color: snow;
	font-weight: bold;
	font-size: 2.8rem;
	text-decoration: none;
}

/* Header Contents Container For Over 1199px Width */
.nav_container>.nav_contents_wrapper {
	display: flex;
	align-items: center;
	justify-content: center;

	width: auto;
	height: 100%;

	font-size: 2rem;
	line-height: 2.2rem;
	color: white;
}

/* The Sidebar Container */
.nav_container>.sidebar_container {
	position: fixed;
	top: 80px;
	right: 0;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;

	padding: 20px 8px;
	width: 30%;
	min-width: 120px;
	max-width: 300px;
	height: calc(100% - 120px);
	min-height: 520px;

	background-color: rgba(242, 150, 97, 0.8);
	
	transform: translateX(100%);
	transition: 500ms;
}

/* For 공지사항, 게시판, 스터디, 강좌 */
.nav_container>.sidebar_container>.nav_content,
.nav_container>.nav_contents_wrapper>.nav_content {
	padding: 6px 14px;
	margin: 0 12px;

	color: white;
	font-weight: 600;
	text-decoration: none;

	transition: 300ms;
}

/* 공지사항, 게시판, 스터디, 강좌 Hover */
.nav_container>.sidebar_container>.nav_content:hover,
.nav_container>.nav_contents_wrapper>.nav_content:hover {
	background-color: rgb(255, 187, 0);
	border-radius: calc((12px + 2.2rem) / 2);
}

/* For Login & Signup Button */
.nav_container>.sidebar_container>.nav_btn,
.nav_container>.nav_contents_wrapper>.nav_btn {
	display: flex;
	align-items: center;
	justify-content: center;

	padding: 4px 14px;
	margin: 0 12px;
	width: 60px;
	height: 2rem;

	color: gold;
	font-size: 1rem;
	font-weight: bold;
	line-height: 2rem;
	text-decoration: none;
	text-transform: uppercase;

	border: 2px solid gold;
	border-radius: calc((12px + 2rem) / 2);

	cursor: pointer;
	transition: 500ms;
}

/* Buttons Hover Green */
.nav_container>.sidebar_container>.nav_btn:hover.green,
.nav_container>.nav_contents_wrapper>.nav_btn:hover.green {
	color: yellowgreen;
	border: 2px solid yellowgreen;
	background-color: gold;
}

/* Buttons Hover Red */
.nav_container>.sidebar_container>.nav_btn:hover.red,
.nav_container>.nav_contents_wrapper>.nav_btn:hover.red {
	color: rgb(241, 95, 95);
	border: 2px solid rgb(241, 95, 95);
	background-color: gold;
}

/* Toggle Button Container */
.nav_container>.nav_toggle {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: 4rem;
	height: 4rem;

	cursor: pointer;
}

/* Each Line For The Toggle */
.nav_container>.nav_toggle>.horizontal_line,
.nav_container>.nav_toggle>.rotatory_line {
	display: inline-block;

	margin: 0.4rem;
	width: 100%;
	height: 0.2rem;

	background-color: snow;
	transition: 300ms;
}

/* The Middle Line Of The Toggle When The Sidebar's Active */
.nav_container>.nav_toggle>.horizontal_line.toggle {
	display: none;
}

/* The Two Of Diagonal Lines Of The Toggle When The Sidebar's Active */
.nav_container>.nav_toggle>.rotatory_line.toggle {
	margin: 0.5rem;
	transform: rotate(-45deg) translate(-4px, -5px);
}