.Study_Detail{
    display: flex;
    height: auto;
    min-height: 100vh;
    flex-direction: column;
    margin: 20px 0px 0px 20px;
}

.study_inside_container{
    display: flex;
    min-height: 100vh;
    width: calc(100% - 80px);

    color: black;
    overflow: hidden;
    justify-content: flex-start;
}

.study_inside_container_right{
/*    display: flex;
    flex-direction: column;*/
/*    padding: 10px 40px;*/
    width: calc(100% - 80px);

}

.study_board_container{
        display: flex;
    flex-direction: column;
    padding: 10px 40px;
    width: calc(100% - 80px);
}


.studyInfo_box{
    align-self: center;
    background-color: rgb(242, 150, 97);
    min-width:200px;
    width: 200px;
    height: 150px;
    border: 2px solid rgb(242, 150, 97);
    border-radius: 50px 50px 50px 50px;
    padding: 10px;
    margin: 0px 50px 0px 10px;
    position: sticky;
    top: 25px;
    color:snow;

}




.study_go_back{
    font-size: 10px;
    color: rgb(242, 150, 97);
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    flex: 2;
}

.studyName{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;

}
.studyInfo_table {
    border-collapse: separate;
    width: 200px;
    height: 100px;
    align-items: center;
    margin: 20px 10px 10px 0;
}

.board_con_top{
    display: flex;
    flex-direction: row;
}

.top_txt{
    flex:2;
    font-size: 30px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-weight: bold;
}

#study_write{
    right: 0;
    margin-bottom: 10px;
    width: 70px;
    height: 30px;
    border-radius: 10px;
    border: 0 none;
    background-color: rgb(242, 150, 97);
    color: white;
    font-size: 16px;
    font-weight: 100;
    cursor: pointer;
    transition: opacity, color 0.1s ease-in
}

.study_board{
    height: auto;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border-radius: 4px;
    overflow: hidden;
}

