.detail_wrap{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: auto;
    margin-top: 20px;
    margin-left: 45px;
}

.header_wrap{
    width: calc(100% - 160px);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


.classes_header{
    font-weight: bold;
    font-size: 35px;
    margin: 10px 10px 0px 10px;
}

.classes_header_desc{
    font-size: 15px;
    margin: 7px;
}

.class_desc{
    margin: 15px 10px 13px 0px;
}

.class_desc span{
    font-size: 15px;
    margin: 13px 10px 13px 20px;
    padding: 5px;
    background-color: rgb(242, 150, 97);
    color: white;
}
