
.category{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    width: 250px;
    height: auto;
}

.category_container{
    padding: 50px 0px 0px 0px;
}

.tab_button{
    width: 200px;
    height: 80px;
    background-color: rgba(168, 164, 164, 0.46);
    color: black;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    text-align: left;
    box-shadow: 1px 9px 10px rgba(155, 154, 154, 0.55);
    padding-left: 15px;
    border:none;
    border-radius: 20px;
    margin: 40px 10px 10px 10px;
    transition-duration: 0.3s;
}


